* {
    margin:0;
    padding: 0;
}

body {
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}

p {
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;  
    text-align: center;
}

ul {
    list-style: none;
}

.btn {
    margin: 5px;
}

div {
    margin: 5px;
}

#input {
    padding:10px;
}

#up, #log, #chat-sec {
    margin-top: 20px;
}